BASE="$(echo $PWD | cut -d'/' -f1,2,3,4)"
USER_HOME="$(echo $PWD | cut -d'/' -f1,2,3)"

for i in $(ls -1 $BASE/etc/environment || :); do
    export "$i"="$(cat $BASE/etc/environment/$i)"
done 2>/dev/null

[[ -f "$BASE/.nvmrc" ]] && {
    #echo "Activating $ENV"
    [[ -f $USER_HOME/.nvm/nvm.sh ]] && {
        source $USER_HOME/.nvm/nvm.sh
        nvm use ${NODEJS_VER} >/dev/null
    }
}
